
.wrap_menu .active {
    color: red !important;
}


.wrap-menu-header {
    /*height: 70px;*/
    /*!*border-bottom: 1px solid black;*!*/
    /*-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
    /*-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
    /*box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
}

.avatar {
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.right-navbar .top-right li > a,
.right-navbar .top-right > a{
    cursor: pointer;
    color: #fff;
}

.right-navbar ul {
    display: flex;
}

.right-navbar ul li {
    padding-right: 20px;
}


.right-navbar .dropdown-menu {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    margin-top: 28px;
    border: none;
}

.right-navbar .dropdown-menu i {
    margin-right: 15px;
}

.wrap_menu .dropdown .dropdown-menu {
    /*margin-top: .7rem;*/
    min-width: 4rem;
}

.wrap_menu .dropdown .dropdown-menu a {
    /*margin-top: .7rem;*/
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 4rem;
}

.wrap_menu .dropdown:hover > .dropdown-menu {
    display: block;
}

.wrap_menu .dropdown a::after {
    content: none;
}

.wrap_menu .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.my-fill-tab ul{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.my-fill-tab ul li a{
    font-size: 16px;
    padding: 10px;
}

.my-fill-tab .active{
    color: red;
    border-bottom: 2px solid red;
}

.tab-content{

}

.dish-item{
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    display: flex;
    justify-content: stretch;
    border-radius: 35px;
    overflow: hidden;
}

.dish-item .img-box img{
    border-radius: 35px;
}

.dish-item .left-content{
    margin: 0 10px;
}


.dish-item .content{
    display: flex;
    padding: 10px;
}

/*.dish-item .content{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
