body{
    padding: 0;
    margin: 0;
}

ul{
    margin-bottom: 0;
}

.footer{
    margin-top: 30px;
}

.box-shadow-header-custom{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
/*Start scroll bar*/
.scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}


.scrollbar::-webkit-scrollbar-track {
    background-color: #fff
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}

.scrollbar::-webkit-scrollbar-button {
    display: none
}

.scrollbar {
    width: 100%;
    min-width: 150px;
    background: #fff;
    overflow-y: scroll;
}

/*End scroll bar*/

.wrap_menu .active {
    color: red !important;
}


.wrap-menu-header {
    /*height: 70px;*/
    /*!*border-bottom: 1px solid black;*!*/
    /*-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
    /*-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
    /*box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);*/
}

.avatar {
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.right-navbar .top-right li > a,
.right-navbar .top-right > a {
    cursor: pointer;
    color: #fff;
}

.right-navbar ul {
    display: flex;
}

.right-navbar ul li {
    padding-right: 20px;
}


.right-navbar .dropdown-menu {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    margin-top: 28px;
    border: none;
}

.right-navbar .dropdown-menu i {
    margin-right: 15px;
}

.wrap_menu .dropdown .dropdown-menu {
    /*margin-top: .7rem;*/
    min-width: 4rem;
}

.wrap_menu .dropdown .dropdown-menu a {
    /*margin-top: .7rem;*/
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 4rem;
}

.wrap_menu .dropdown:hover > .dropdown-menu {
    display: block;
}

.wrap_menu .dropdown a::after {
    content: none;
}

.wrap_menu .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.my-fill-tab {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.my-fill-tab ul {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.my-fill-tab ul li a {
    font-size: 16px;
    padding: 10px;
}

.my-fill-tab .active {
    color: red;
    border-bottom: 2px solid red;
}

.tab-content {

}

.blogs_title a.active{
    color: red;
}


.list-food {
    height: 70vh;
    overflow-y: auto;
}

.list-food{
    overflow-y: auto;
    margin: 10px;
    bottom: 200px;
    top: 80px;
    position: absolute;
}

.box-shadow-header-custom {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.total-box{
    height: 200px;
    position: absolute;
    padding: 0 20px;
    width: 100%;
    bottom: 40px;
}


.btn-incard{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -10px;
}


/* Modal login css*/

a {
    color: #2f889a;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 0.8rem;
}
input::-ms-clear, textarea::-ms-clear {
    display: none;
}

/* --------------------------------

xsigin/signup popup

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    /*-webkit-transform: translateY(0);*/
    /*-moz-transform: translateY(0);*/
    /*-ms-transform: translateY(0);*/
    /*-o-transform: translateY(0);*/
    /*transform: translateY(0);*/
}

.cd-user-modal-container {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    max-width: 600px;
    background: #FFF;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    cursor: auto;
    border-radius: 0.25em;
    /*-webkit-transform: translateY(-30px);*/
    /*-moz-transform: translateY(-30px);*/
    /*-ms-transform: translateY(-30px);*/
    /*-o-transform: translateY(-30px);*/
    /*transform: translateY(-30px);*/
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn-login, btn-register{
    cursor: pointer;
    color: white;
}

.btn-login:nth-child(1){
    background: rgba(22,22,22,0.74);
}

.btn-login:nth-child(2){
    background: #0045ff;
}

.btn-login:nth-child(3){
    background: #ff0000;
}

.cd-user-modal-container .cd-switcher::after {
    clear: both;
    content: "";
    display: table;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
/*.cd-form label.cd-username {*/
/*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");*/
/*}*/
/*.cd-form label.cd-email {*/
/*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");*/
/*}*/
/*.cd-form label.cd-password {*/
/*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");*/
/*}*/
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 10px 20px 10px 30px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1) !important;
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -32.5px;
    background: rgba(215, 102, 102, 0.9);
    padding: .5em;
    z-index: 2;
    color: #FFF;
    font-size: 12px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.nna-img-fluid{

    height: 437px;
}


.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 10px 20px 10px 30px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;

}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

/* End model login css*/


/*Start food-card css*/
.food-card{
    position: relative;
    background: white;
    margin-bottom: 20px;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.food-card .food-card-content{
    position: relative;
    overflow: hidden;
}

.food-card .food-card-content img{
    border-radius: .5rem;
    width: 100%;
}

.food-card .food-card-content .info {
    border-radius: .5rem;
    position: absolute;
    transition: 400ms;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    opacity: 0;
}

.food-card .food-card-content:hover .info{
    opacity: 1;
}

.food-card-footer{
    padding: .5rem 1rem;
    /* justify-content: space-between; */
    /* display: flex; */
    z-index: 1;
    min-height: 100px;
}

.food-card-footer h5{
    /* text-align: center; */
}

.btn-add{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1em;
    height: 30px;
    width: 30px;
    font-size: 24px;
    background: #c00a27;
    color: white!important;
    border: none;
    cursor: pointer;
    transition: 100ms;
}

.btn-add:hover{
    transform: scale(1.1)
}

.btn-add i {
    margin: 4px 3px 3px 3px;
}

.food-card-footer .price{
    color: red;
}


.food-card-footer button:hover{
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); */
}

.food-card .amount-of-nutrition > div{
    padding: 0 .6em;
}

.food-card .amount-of-nutrition > div > span{
    font-size: .8em;
    font-weight: 500;
}

.food-card .amount-of-nutrition > div > div{
    border-radius: .3em;
    text-align: center
}

.very-high{
    background: #FF0000;
}

.high{
    background: #FFA500;
}

.normal{
    background: #F6FF00;
}

.low{
    background: #00EA1B;
}
.very-low{
    background: #00B5F2;
}

/*Custom input number */
.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    width: 62px;
    height: 30px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 18px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 30px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 50%;
    line-height: 15px;
}

.quantity-button.quantity-up {
    position: absolute;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
}

/*End food-card css*/

.btn-toggle-sidebar{
    position: absolute;
    left: -83px;
    top: 15%;
    width: 50px;
    height: 50px;
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 10px 0px 0px 10px;
    background: white;
    border: none;
}


.btn-toggle-sidebar .bag-icon::before{
    content: attr(data-food);
    position: absolute;
    background: #ff6600;
    height: 1rem;
    top: 10%;
    left: 7%;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
}

.btn-toggle-sidebar .bag-icon::after{
    content: attr(data-set);
    position: absolute;
    background: #0061ff;
    height: 1rem;
    top: 10%;
    right: 7%;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    border: 1px solid #0061ff;
    font-family: sans-serif;
    font-weight: bold;
}

.btn-toggle-sidebar i{
    font-size: 24px;
}

/*css sửa tràn gd trang food'*/

.nna-font-size-14{
    font-size: .8em;
    font-weight: 500;
}

.nna-text-white{
    color: white;
}

.nna-text-gray{
    color: #5c5c5c;
}

.nna-abs-bottom-10{
    position: absolute;
    bottom: 10px;
}
/*End sửa tràn giao dien*/


/*css detail-set*/
.newarrival{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2{
    color: #555;
}

.price{
    color: #ff100a;
    /*font-size: 1em;*/
    font-size: 24px;

    font-weight: bold;
    padding-top: 2px;
}

.cart{
    background: #ff100a;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
    padding:6px;
    height: 32px;
}

/*.nna-quantity input {*/
/*    width: 62px;*/
/*    height: 30px;*/
/*    line-height: 1.65;*/
/*    float: left;*/
/*    display: block;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    padding-left: 18px;*/
/*    border: 1px solid #eee;*/
/*}*/

/*.nna-quantity input:focus {*/
/*    outline: 0;*/
/*}*/

/*.nna-quantity-nav {*/
/*    float: left;*/
/*    position: relative;*/
/*    height: 30px;*/
/*}*/

/*.nna-quantity-button {*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    border-left: 1px solid #eee;*/
/*    width: 20px;*/
/*    text-align: center;*/
/*    color: #333;*/
/*    font-size: 13px;*/
/*    font-family: "Trebuchet MS", Helvetica, sans-serif !important;*/
/*    line-height: 1.7;*/
/*    -webkit-transform: translateX(-100%);*/
/*    transform: translateX(-100%);*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    -o-user-select: none;*/
/*    user-select: none;*/
/*    height: 50%;*/
/*    line-height: 15px;*/
/*}*/

/*.nna-quantity-button.quantity-up {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    border-bottom: 1px solid #eee;*/
/*}*/

/*.nna-quantity-button.quantity-down {*/
/*    position: absolute;*/
/*    bottom: -1px;*/
/*}*/
/*carousel*/

.nna-carousel{
  /*margin-top:70px;*/
  /*  margin-bottom: 70px;*/
    margin: 70px;
}
.nna-container{
margin: 8%;
}
.inner{
    overflow: hidden;
}
.inner image{
    transition:all 1.5s ease ;
}
.inner:hover img{
    transform: scale(1.5);
}
/*!*băng trượt phần dưới*/
.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 30%;
}
.owl-prev  span, .owl-next span{
    font-size: 60px;
    color: #787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background-color:transparent ;
}


.board-color{
    position: fixed;
    left: 0;
    top: 55%;
}
.board-color > div{
    text-align: center;
    width: 100px;
    padding: 5px;
    font-weight: 500;
    color: #2a2a2a;
}

.custom-dropdown{
    position: absolute;
    top: 70px;
    left: -24px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-dropdown a{
    text-transform: uppercase;
}

.address-box{
    padding: 20px;
    display: flex;
}


* {
    box-sizing: border-box;
}

/*.content-right {*/
/*    font-family: Sriracha, sans-serif !important;*/
/*}*/
.wrap {

    min-height: 500px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container-full {
    width: 1270px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.menu-left {
    /*width: 250px;*/
    padding-right: 0;
    padding-left: 0;
    /*float: left;*/
    /*margin-right: 10px;*/
    padding-bottom: 20px;
}

.wrap .profiles {
    background: 0 0;
    color: #fff;
    padding: 10px 5px 5px;
}

.wrap .profiles .image {
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.wrap .profiles .name {
    font-size: 13px;
    margin-bottom: 5px;
    color: #242424;
    margin-top: 5px;
    font-weight: 300;
}

.wrap .profiles h6 {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #242424;
}

.content-right {
    /*width: 975px;*/
    /*float: left;*/
    margin-top: 5px;
    position: relative;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
}

.wrap h1.have-margin {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    color: #242424;
}

.wrap .account-profile .form-group {
    margin-bottom: 15px;
    position: relative;
}

.wrap .account-profile .form-group .control-label {
    float: left;
    width: 20%;
    font-size: 13px;
    margin-bottom: 0;
}

.wrap .account-profile .form-group .input-wrap {
    float: left;
    width: 405px;
}

ul.nav.nav-tabs {
    padding-top: 30px;
    flex-direction: column;
    border: none;
}

ul.nav.nav-tabs > li {
    padding-top: 0 !important;
}

ul.nav.nav-tabs > li a.nav-link {
    border: none;
}

ul.nav.nav-tabs > li a.active {
    border: none;
    color: #ec1d25;
}

ul.nav.nav-tabs > li a:hover {
    border: none;
    color: #ec1d25;
}

.address-box {
    display: flex;
    /* border: 1px solid black; */
    /*justify-content: space-between;*/
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.address-box input[type="radio"] {
    margin: 0 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
    /* font-size: 24px; */
}

.address-box h5 {
    font-weight: 550;
}

.address-box p {
    margin-bottom: 5px;
}

.box-form-address {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    display: none;
    padding: 30px 20px;
    border-radius: 5px;
    position: relative;
}

.box-form-address .btn-close {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 24px;
}


.error-mes-address{
    color: red;
    position: absolute;
    left: 3%;
    font-size: 14px;
}
